html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.pix-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: white;
}


.pix-header {
  position: relative;
  overflow: hidden;
}

.pix-body {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}


.pix-gradient {
  background: linear-gradient(to bottom, #d00080, #f00000);
  color: white;
  padding: 60px 20px 80px;
  position: relative;
  z-index: 1;
}

.pix-gradient h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0 0;
  position: relative;
  z-index: 2;
}

.back-arrow {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 80px;
  z-index: 0;
  display: block;
  overflow: hidden;
}


.floating-label-input {
  position: relative;
  width: 100%;
  max-width: 90%;
  margin: 40px auto 10px;
}

.floating-label-input input {
  width: 100%;
  padding: 14px 0 6px;
  border: none;
  border-bottom: 2px solid gray;
  font-size: 16px;
  outline: none;
  background: transparent;
  color: black;
  user-select: none;
}

.floating-label-input input:focus {
  border-bottom: 2px solid #007bff;
  background-color: transparent;
  outline: none;
}

.floating-label-input label {
  position: absolute;
  top: 14px;
  left: 0;
  font-size: 16px;
  color: gray;
  pointer-events: none;
  transition: 0.2s ease all;
}

.floating-label-input input:focus ~ label,
.floating-label-input input:not(:placeholder-shown) ~ label {
  top: -10px;
  font-size: 13px;
  color: #007bff;
}
.floating-label-input input.has-value ~ label {
  top: -15px;
  font-size: 13px;
  color: #007bff;
}

.clipboard-icon {
  position: absolute;
  right: 10px;
  bottom: 12px;
  margin-bottom: -10px;
  font-size: 18px;
  color: gray;
  cursor: pointer;
  z-index: 2;
}

.pix-subtext {
  font-size: 13px;
  padding: 20px;
  color: #444;
  margin-top: 5px;
  text-align: center;
}

.pix-footer {
  padding: 20px;
  background-color: white;
  margin-top: auto;
}

.pix-button {
  width: 100%;
  padding: 15px 0;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.pix-button:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 12px 16px;
  margin-top: 20px;
  background-color: transparent;
  position: relative;
}

.pix-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  color: #333;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: black !important;
  caret-color: black !important;
  border-bottom: 2px solid #007bff !important;
}
